h1,h3{
    color: darkorchid
}
img#foto{
    height: 200px;
    width: 200px;
    display: table;
}
h1{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#nome{
    display: inline;
    float: right;
}
.linha{
    border-top: 2px solid black;
}