body{
    background-color: orchid
}
img#fotografia{
    height: 350px;
    width: 370px;
    margin-left: 500px;
    
}

P  {text-align: center}
H2 {text-align: center}
H1 {text-align: Center}
H5 {text-align: Center}
img{border-radius: 500px}
    
    h1,h2 { 
        color: bisque
    }
    p,h5{
        color:azure
    }